.logo {
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-right: 25px;
    padding: 5px;
    border-radius: 100%;
}

.name {
    font-size: 15px;
    font-weight: 500;
    color: #333;
}
.title {
    text-align: center;
    padding-bottom: 10px;
}
/* end list សាខា */

/* table member */
.container {
    width: 99%;
    padding: 1rem;
    border-radius: 0.3rem;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 5px;
}
.selection {
    display: flex;
    align-items: center;
    /* margin-bottom: 10px; */
    justify-content: space-between;
}
.table-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.table-controls label {
    font-size: 14px;
}

.table-controls select {
    margin: 0 5px;
}

.table-controls .table-buttons {
    display: flex;
    gap: 10px;
}

.table-controls button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #d8d8d8;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    border-radius: 0.4rem;
    cursor: pointer;
}

.table-controls button:hover {
    background-color: #ffbfbf;
}

.table-controls input[type="text"] {
    padding: 5px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table,
th,
td {
    border: 1px solid #dddddd;
}
tbody tr:nth-child(even) {
    background-color: #ececec;
}
tbody tr:hover {
    background-color: #caced1;
}
th,
td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.view-btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.view-btn:hover {
    background-color: #8ec891;
}

.table-controls .custom-select {
    /* ... */
    position: relative;
    min-width: 150;
}

.table-controls .custom-select::before,
.table-controls .custom-select::after {
    --size: 0.3rem;
    position: absolute;
    content: "";
    right: 0.5rem;
    pointer-events: none;
}

.table-controls .custom-select::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid black;
    top: 40%;
}

.table-controls select::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid black;
    top: 55%;
}

.custom-select select {
    appearance: none;
    width: 100%;
    font-size: 1rem;
    padding: 0.375em 2em 0.375em 0.5em;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
}

/* End table */
